.cart__preview__container {
    position: absolute;
    right: 72px;
    width: auto;
    top: 80px;
    background: #ffffff;
    z-index: 5;
}

.cart__preview__container .cart__preview {
    padding: 0.7rem;
}

.cart__preview__container .cart__preview .preview__title {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    font-size: 0.9rem;
    text-align: left;
    color: #1d1f22;
    margin: 0px 0px 8px;
}
.cart__preview__container .cart__preview .preview__title span {
    font-weight: 700;
}

.cart__preview__container .cart__preview .cart__items {
    max-height: 260px;
    overflow: scroll;
}

.cart__preview__container .cart__preview .hidden__scrollBar {
    overflow: hidden;
}

.cart__preview__container .cart__preview .cart__overlay__totals__container {
    width: auto;
    display: flex;
    justify-content: space-between;
}

.cart__preview__container .cart__preview .cart__overlay__buttons__container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 28px;
    width: auto;
    margin: 8px 0px;
}

.cart__preview__container .cart__preview .cart__overlay__buttons__container .cart__overlay__button {
    text-decoration: none;
    width: 120px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    border: 1px solid #1d1f22;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 600;
    font-size: 0.7rem;
    color: #1d1f22;
    text-transform: uppercase;
}

.cart__preview__container .cart__preview .cart__overlay__buttons__container .cart__overlay__button:hover {
    cursor: pointer;
}

.cart__preview__container .empty__cart {
    height: 100px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 600;
    font-size: 1.3rem;
    padding: 5px 15px;
}

/* CUSTOM SCROLL BAR*/
/* width */
.cart__preview__container .cart__preview .custom__scrollbar::-webkit-scrollbar {
    width: 2px;
}

/* track */
.cart__preview__container .cart__preview .custom__scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* handle */
.cart__preview__container .cart__preview .custom__scrollbar::-webkit-scrollbar-thumb {
    background: rgba(57, 55, 72, 0.22);
}

/* hover */
.cart__preview__container .cart__preview .custom__scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.cart__preview__container .cart__preview .custom__scrollbar::-webkit-scrollbar:horizontal {
    display: none;
}
