.text__picker .text__title {
    height: 18px;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #1d1f22;
    text-transform: uppercase;
    margin: 0;
}

.text__picker .text__variants__container {
    display: flex;
    gap: 12px;
    margin-top: 8px;
}

.text__picker .text__variants__container .text__variants {
    box-sizing: border-box;
    width: 63px;
    height: 45px;
    border: 1px solid #1d1f22;
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.05em;
    color: #292929;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text__picker .text__variants__container .selected__variant {
    background: #1d1f22;
    border: 1px solid #1d1f22;
    color: #ffffff;
}

.text__picker .text__variants__container .text__variants:hover {
    cursor: pointer;
}

/* FOR CART OVERLAY */
.text__picker__overlay .text__title__overlay {
    padding: 5px;
    height: 16px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #1d1f22;
    text-transform: capitalize;
}

.text__picker__overlay .text__variants__container__overlay {
    display: flex;
    gap: 8px;
    margin-top: 0;
}

.text__picker__overlay .text__variants__container__overlay .text__variants__overlay {
    box-sizing: border-box;
    width: min-content;
    min-width: 24px;
    padding: 0 2px;
    width: auto;
    height: 24px;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0em;
}

.text__picker__overlay .text__variants__container__overlay .selected__variant__overlay {
    background: #1d1f22;
    border: 1px solid #1d1f22;
    color: #ffffff;
}

.text__picker__overlay .text__variants__container__overlay .text__variants__overlay:hover {
    cursor: pointer;
}
