.proceed__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px 28px;
    background: #5ece7b;
    border: none;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    color: #ffffff;
    text-transform: uppercase;
}
.proceed__btn:hover {
    cursor: pointer;
    filter: brightness(95%);
}

.out__of__stock {
    background-color: rgba(57, 55, 72, 0.22);
}

.out__of__stock:hover {
    cursor: default;
    filter: brightness(100%);
}
