/* DEFAULT STYLES FOR DETAILS PAGE*/
.product__title {
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product__title .brand__name,
.product__name {
    position: relative;
    width: 292px;
    height: 27px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #1d1f22;
    margin: 0;
}

.product__title .product__name {
    font-weight: 400;
}

/* STYLES FOR CART OVERLAY*/
.product__title__overlay {
    width: 136px;
    height: 52px;
}

.product__title__overlay .brand__name__overlay,
.product__name__overlay {
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;
}
