/* MAIN CART */
.price__tag .price__title {
    width: 38px;
    height: 18px;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #1d1f22;
    text-transform: uppercase;
}

.price__tag .price__amount {
    width: 86px;
    height: 46px;
    margin-top: 10px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #1d1f22;
}

/* FOR CART OVERLAY */

.price__tag__overlay .price__amount__overlay {
    width: 52px;
    height: 26px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    font-size: 0.8rem;
    text-align: right;
    color: #1d1f22;
}
