.products__container {
    position: absolute;
    left: 100px;
    right: 102px;
    top: 331px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 103px 40px;
    padding-bottom: 100px;
}
