.price__tag {
    position: absolute;
    top: 298px;
}

.price__tag .price__title {
    position: relative;
    width: 38px;
    height: 18px;
    top: 0px;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #1d1f22;
    text-transform: uppercase;
}

.price__tag .price__amount {
    position: absolute;
    width: 86px;
    height: 46px;
    top: 26px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #1d1f22;
}
