.cart__item__container__ov {
    width: 273px;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 10px 0px;
}

.cart__item__container__ov .cart__item__details__ov {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

/* item options */
.cart__item__container__ov .cart__item__details__ov .item__options__ov {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}

/* quantity changer*/
.cart__item__container__ov .cart__item__details__ov .change__quantity__container__ov {
    width: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.cart__item__container__ov .cart__item__details__ov .change__quantity__container__ov .item__quantity__ov {
    width: 8px;
    height: 26px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 160%;
    text-align: right;
    color: #1d1f22;
}

.cart__item__container__ov .cart__item__details__ov .change__quantity__container__ov .increase__item__ov,
.decrease__item__ov {
    width: 18px;
    height: 18px;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart__item__container__ov .cart__item__details__ov .change__quantity__container__ov .increase__item__ov .vertical__line__ov {
    position: absolute;
}

.cart__item__container__ov .cart__item__details__ov .change__quantity__container__ov:hover .increase__item__ov,
.decrease__item__ov {
    cursor: pointer;
}

/* image */
.cart__item__container__ov .item__image__container__ov {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}
.cart__item__container__ov .item__image__container__ov img {
    height: 90px;
    width: 90px;
    object-fit: contain;
}
