.details__container {
    position: absolute;
    width: 1002px;
    height: 595px;
    left: 219px;
    top: 160px;
}

.details__container .main__image__view {
    position: absolute;
    width: 610px;
    height: 511px;
    left: 0px;
    top: 0px;
}

.details__container .product__options__view {
    position: relative;
    width: 292px;
    height: 595px;
    left: 710px;
}

.details__container .product__options__view .product__size__picker__container {
    margin-top: 43px;
}
.details__container .product__options__view .product__color__picker__container {
    margin-top: 24px;
}
.details__container .product__options__view .product__price__tag__container {
    margin-top: 36px;
}
.details__container .product__options__view .product__add__to__chart__container {
    margin-top: 20px;
}

.details__container .product__options__view .description {
    width: 292px;
    height: 103px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25.59px;
    color: #1d1f22;
    text-align: left;
    margin-top: 40px;
}
