.product__options__view {
    position: absolute;
    width: 292px;
    height: 595px;
    left: 929px;
    top: 160px;
}
.product__options__view .product__price__tag__container {
    margin-top: 36px;
}
.product__options__view .product__add__to__chart__container {
    margin-top: 20px;
}

.product__options__view .description {
    width: 292px;
    height: 103px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25.59px;
    color: #1d1f22;
    text-align: left;
    margin-top: 40px;
}
