.swatch__picker .swatch__title {
    width: 38px;
    height: 18px;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #1d1f22;
    text-transform: uppercase;
}

.swatch__picker .swatch__variants__container {
    position: relative;
    top: 8px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    gap: 8px;
    height: 36px;
}

.swatch__picker .swatch__variants__container .swatch__variants {
    width: 36px;
    height: 36px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
}

.swatch__picker .swatch__variants__container .swatch__variants:hover {
    cursor: pointer;
}

.swatch__picker .swatch__variants__container .swatch__variants .variant {
    position: relative;
    top: 1px;
    left: 1px;
    width: 32px;
    height: 32px;
}

#selected__border {
    border: 1px solid #5ece7b;
}

/* FOR CART OVERLAY */
.swatch__picker__overlay .swatch__title__overlay {
    width: 38px;
    height: 16px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
}

.swatch__picker__overlay .swatch__variants__container__overlay {
    gap: 8px;
    height: 20px;
}

.swatch__picker__overlay .swatch__variants__container__overlay .swatch__variants__overlay {
    width: 20px;
    height: 20px;
}

.swatch__picker__overlay .swatch__variants__container__overlay .swatch__variants__overlay .variant__overlay {
    position: relative;
    top: 1px;
    left: 1px;
    width: 16px;
    height: 16px;
}
