.color__options {
    position: absolute;
    top: 204px;
}

.color__options .color__title {
    position: relative;
    width: 38px;
    height: 18px;
    top: 0px;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #1d1f22;
    text-transform: uppercase;
    margin: 0;
}

.color__options .color__variants__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 116px;
    height: 36px;
}

.color__options .color__variants__container .color__variant__grey {
    position: absolute;
    width: 36px;
    height: 36px;
    left: 0px;
    top: 26px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
}

.color__options .color__variants__container .color__variant__grey .variant__grey {
    position: absolute;
    z-index: 2;
    width: 32px;
    height: 32px;
    left: 1px;
    top: 1px;
    background: #d3d2d5;
}

.color__options .color__variants__container .color__variant__black {
    position: absolute;
    width: 36px;
    height: 36px;
    left: 44px;
    top: 26px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
}

.color__options .color__variants__container .color__variant__black .variant__black {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 1px;
    top: 1px;
    background: #2b2b2b;
}
.color__options .color__variants__container .color__variant__green {
    position: absolute;
    width: 36px;
    height: 36px;
    left: 88px;
    top: 26px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
}

.color__options .color__variants__container .color__variant__green .variant__green {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 1px;
    top: 1px;
    background: #0f6450;
}

.color__options .color__variants__container .color__variant__grey,
.color__options .color__variants__container .color__variant__black,
.color__options .color__variants__container .color__variant__green:hover {
    cursor: pointer;
}

#selected__border {
    border: 1px solid #5ece7b;
}
