.App {
    text-align: center;
    width: 1440px;
    height: 100vh;
    background: #ffffff;
    position: relative;
    margin: 0 auto;
}

.overflow__hidden {
    overflow: hidden;
}

.click__to__hide {
    position: absolute;
    z-index: 4;
    top: 81px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(57, 55, 72, 0.22);
}
